.container {
    --max-width: none;

    max-width: var(--max-width);
    padding: 15px;
    margin: auto;
}

.marginTop {
    margin-top: 50px;
}

@media (width >= 768px) {

    .container {
        --max-width: min(70%, 1550px);
    }
}