.header {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 2fr 140px 2fr;
    align-items: center;
    padding: 5px;
    background-color: var(--color-background-secondary)
}

.leftSlot, .rightSlot {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.leftSlot {
    justify-content: flex-start;
}

.rightSlot {
    justify-content: flex-end;
}