.card {
    display: flex;
    gap: 15px;
    align-items: center;
    min-height: 50px;
    padding: 0 5px;

    &:focus {
        outline-color: var(--color-accent);
    }
}

.img {
    border-radius: 7px;
}

.title {
    font-size: 16px;
    font-weight: 300;
}