/* Light theme */

:root:not([data-theme="dark"]) {
    --color-background-primary: oklch(100% 0 0deg);
    --color-background-secondary: oklch(97.87% 0.002 247.84deg);
    --color-text-primary: oklch(11.44% 0.007 261deg);
    --color-text-secondary: oklch(53% 0 0deg);
    --color-border-primary: oklch(0% 0 0deg);
    --card-border: 1px solid oklch(95% 0 0deg);
}